{% extends "base.html.jinja" %}
{% block title %}
Autor projektu
{% endblock title %}
{% block content %}
<p>Nazywam się Grzegorz Wójcik</p>
    <p>Pracuję w technologiach takich jak:</p>
    <ul>
        <li>html</li>
        <li>css</li>
        <li>programowanie w:</li>
        <ul>
            <li>javascript</li>
            <li>php</li>
            <li>python</li>
        </ul>
    </ul>
    <p>Moje doświadczenie w zakresie IT:</p>
    <ul>
        <li>obsługa sieci komputerowych</li>
        <li>praca na bazach danych</li>
        <li>projektowanie stron internetowych</li>
    </ul>
<p>Pozdrawiam serdecznie</p>
{% endblock %}