{% extends "base.html.jinja" %}
{% block title %}
Nazwa produktu
{% endblock title %}
{% block content %}
<p>Strona produktu {{product_id}}.</p>
<a href="#" class="btn btn-primary">Pobierz plik z opiniami o produkcie</a>
<table class="table table-striped-columns mt-3 mb-5">
    <thead>
        <tr>
            <th scope="col">Identyfikator opinii</th>
            <th scope="col">Autor</th>
            <th scope="col">Rekomendacja</th>
            <th scope="col">Liczba gwiazdek</th>
            <th scope="col">Treść opinii</th>
            <th scope="col">Lista zalet</th>
            <th scope="col">Lista wad</th>
            <th scope="col">Data wystawienia opinii</th>
            <th scope="col">Data zakupu produktu</th>
            <th scope="col">+</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody>
        {% for opinion in opinions %}
          <tr>
              <td>{{opinion.opinion_id}}</td>
              <td>{{opinion.author}}</td>
              <td>{{opinion.recommendation}}</td>
              <td>{{opinion.stars}}</td>
              <td>{{opinion.content}}</td>
              <td>{{opinion.pros}}</td>
              <td>{{opinion.cons}}</td>
              <td>{{opinion.post_date}}</td>
              <td>{{opinion.purchase_date}}</td>
              <td>{{opinion.useful}}</td>
              <td>{{opinion.useless}}</td>
          </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}